.project-image {
  height: 20vh;
  width: auto;
  border-radius: 50%;
}

body {
  font-family: Helvetica;
  color: white;
  background-color: black;
 }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: black;
}

main {
padding-top: 20vh;
font-size: 3vh;
text-align: center;
}

.menu-item {
  height: 250px;
  width: 400px;
  text-align: center;
}

@media only screen and (min-width: 960px) {
  main {
    text-align: left;
  }
  .menu-item {
    float: left;
    /*margin-left: 100px;*/
  }
}
