.project-image {
  height: 200px;
  width: auto;
  border-radius: 10px;
}

body {
  font-family: Helvetica;
  color: white;
  background-color: black; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: black;
}

main {
padding-top:120px;
}
